* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

nav ul li a:hover {
	color: #ccc;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section#resultados {
	margin-top: 20px;
}

section#resultados h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

section#resultados ul {
	list-style: none;
}

section#resultados ul li {
	margin-bottom: 10px;
}

section#resultados ul li a {
	color: #333;
	text-decoration: none;
	font-size: 16px;
}

section#resultados ul li a:hover {
	color: #aaa;
}
